<div className="header-dnd-area2 en-header header ">
      <div className='container-fluid header__container content-wrapper'>
        <div className='flex'>
          <div className='bloomLogo'>
           <a href="https://bloomster.com/home"> <img src={image.vicky_logo_LP} /></a>
          </div>
          <div className='Hub_Navigation'>
            <ul>
              <li>
                <a href='https://bloomster.com/home'>Home</a>
              </li>
              <li>
                <a href="https://bloomster.com/getting-the-most-from-bloomster"> How to Use Bloomster</a>
              </li>
              <li>
                <a  href="https://bloomster.com/blog">Blog</a>
              </li>
              <li>
                <a href="https://bloomster.com/about-bloomster">About</a>
              </li>
              <li>
                <a
                  hrf=""
                  className="">
                  Sign In
                </a>
              </li>
              <li className='Singnupbtn'>
                <a
                  hrf="PATHS.USERSIG"  >
                  Sign Up
                </a>
              </li>
            </ul>
           
          </div>
          <div className="mobileNavigation" onClick={mobile_navigationfun}>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>
      </div>
    </div>